@import url("./app.css");

.header-custom {
    border-bottom: .1rem solid rgb(206 206 206 / 25%);
}

/* Menu Burger Bars */
.menu-bars {
    background-color: var(--color-primary);
    position: relative;
    border-radius: 8px;
}

.menu-bars::before {
    content: "";
    width: 1.6rem;
    height: 0.125rem;
    position: absolute;
    top: -8px;
    background-color: var(--color-primary);
    border-radius: 8px;
}

.menu-bars::after {
    content: "";
    width: 1.6rem;
    height: 0.125rem;
    position: absolute;
    top: 8px;
    background-color: var(--color-primary);
    border-radius: 8px;
}

.active span a {
    color: var(--color-primary);
}

ul li span a:hover {
    color: var(--color-primary);
}

/**
 * MapBox Style 
*/
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
.marker {
    /* background-color: linear-gradient( var(--blue-700), var(--blue-600) ); */
    background-color: #0443cc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
    max-width: 378px!important;
}

.mapboxgl-popup-content {
    border-radius: .5rem;
    width: 248px;
    padding: 14px 8px 14px;
    text-align: left;
    overflow: hidden;
}

.mapbox-price {
    padding: 1.3px 3px;
    border-radius: 2px;
}

.mapbox-active {
    background-color: var(--blue-600);
}

.featured-product {
    height: 38%!important;
}

/*  */
.featured-product-image::before {
    content: "";
    position: absolute;
    right: -12px;
    top: 9px;
    bottom: 0;
    background-color: rgb(226 232 240);
    width: 245px;
    height: 95%;
    border-radius: 1rem;
}
